{% extends "index.html" %}

{% block contenido%}
    <h2>Editar Celulares</h2>
    <hr>

    <div style="max-width: 400px;">
        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <div style="margin-top: 20px;">
                <button type="submit" style="background-color: orange; padding:10px; cursor: pointer">
                    Guardar Cambios
                </button>
                <a href="{% url 'lista_celulares' %}" style="margin-left: 10px;"> Cancelar</a>
            </div>

        </form>

    </div>
{% endblock%}